@import "extensions/tabbed.css";

/* Estilos para imagens com a classe ".left-image" */
img.left-image {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .2);
  border-radius: .2rem;
  display: block;
  margin: 20px 20px 20px 0; /* Adicione margem à direita para manter a imagem à esquerda */
  vertical-align: middle; /* Alinha verticalmente com outras imagens */
}

/* Estilos para imagens com a classe ".center-image" */
img.center-image {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .2);
  border-radius: .2rem;
  display: block;
  margin: 20px auto; /* Centraliza a imagem horizontalmente */
  vertical-align: middle; /* Alinha verticalmente com outras imagens */
}

/* Estilos para imagens com a classe ".right-image" */
img.right-image {
  float: right; /* Alinha a imagem à direita */
  margin-left: 20px; /* Adicione uma margem à esquerda para espaçamento */
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .2); /* Adiciona sombra */
  border-radius: .2rem; /* Adiciona bordas arredondadas */
  vertical-align: middle; /* Alinha verticalmente com outras imagens */
}

/* Limpar floats após imagens */
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* Adicione a propriedade clear ao estilo do subtítulo (por exemplo, h2) */
h2 {
  clear: both;
}

/* Advertências clássicas */
.md-typeset .admonition,
.md-typeset details {
  border-width: 0;
  border-left-width: 4px;
}

/* CSS específico para o efeito de círculo */
#circle-effect {
  position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 50%;
  text-align: left; /* Alinha o conteúdo à esquerda */
}

#circle-effect img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  clip-path: url(#mask);
}

#circle-effect .mask {
  position: absolute;
  top: 0;
  left: 12%; /* Move a máscara para a esquerda em 12% */
  width: 76%; /* Ajusta o tamanho da máscara para cobrir a imagem */
  height: 76%; /* Ajusta o tamanho da máscara para cobrir a imagem */
  background-image: url('../images/lupa.png');
  background-size: cover;
  z-index: 1; /* Ajuste o z-index conforme necessário */
}

/* Estilos para o bloco note info */
.???note.info {
  border-left: 3px solid #007bff; /* Cor da borda */
  background-color: #f0f0f0; /* Cor de fundo */
  padding: 10px; /* Espaçamento interno */
  margin-bottom: 20px; /* Espaçamento inferior */
}

/* Estilos para o contêiner da imagem e texto */
.image-with-text {
  display: flex; /* Usando flexbox para alinhar itens */
  align-items: center; /* Centralizar itens verticalmente */
  margin-top: 10px; /* Espaçamento superior */
  width: 100%; /* Largura total */
  flex-wrap: nowrap; /* Não permitir que itens sejam ajustados */
}

/* Estilos para a imagem */
.custom-image {
  width: 370px; /* Largura inicial da imagem */
  height: auto; /* Altura automática para manter proporções */
  margin-right: 20px; /* Espaçamento entre a imagem e o texto */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Adicionar sombra à imagem */
}

/* Estilos para o texto à direita da imagem */
.text-right {
  text-align: justify; /* Texto justificado */
  word-wrap: break-word; /* Quebra de palavra para palavras longas */
  flex-grow: 1; /* Ocupar o espaço restante no contêiner */
  width: calc(100% - 390px); /* Ajustar a largura do texto */
  font-size: 0.95em; /* Reduzir o tamanho da fonte */
}

/* Media query para dispositivos móveis com largura máxima de 768px */
@media only screen and (max-width: 768px) {
  .image-with-text {
    display: grid; /* Usar grid layout para itens */
    grid-template-columns: 1fr 1fr; /* Duas colunas iguais */
    gap: 10px; /* Espaçamento entre colunas */
  }

  .custom-image {
    width: 100%; /* Ajustar a largura da imagem para 100% da coluna */
    margin-right: 0; /* Remover espaçamento à direita da imagem */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Manter a sombra */
  }

  .text-right {
    width: 100%; /* Ajustar a largura do texto para 100% da coluna */
    text-align: justify; /* Garanta que o texto esteja justificado */
    font-size: 0.9em; /* Reduzir o tamanho da fonte */
  }
}

/* Garante que o cabeçalho fique fixo no topo */
.md-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1100;
  background-color: var(--md-primary-fg-color); /* Ajusta a cor conforme o tema */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra para destaque */
}

/* Previne sobreposição do conteúdo pelo cabeçalho */
.md-main {
  padding-top: 64px; /* Ajuste conforme a altura do cabeçalho */
}

/* Efeito sobreposição mesma imagem com esmaecimento */
.image-hover-stack {
  position: relative;
  display: inline-block;
  max-width: 100%;
  touch-action: manipulation;
}

.image-hover-stack img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  transition: opacity 0.5s ease-in-out;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

.image-hover-stack img:first-child {
  z-index: 1;
  position: relative;
}

.image-hover-stack img:last-child {
  z-index: 2;
  opacity: 1;
  pointer-events: none;
}

/* Desktop (hover) */
@media (hover: hover) and (pointer: fine) {
  .image-hover-stack:hover img:last-child {
    opacity: 0;
  }
}

/* Mobile (toque pressionado) */
.image-hover-stack.touching img:last-child {
  opacity: 0;
}

