@import "extensions/tabbed.css";

/* Estilos para imagens com a classe ".left-image" */
img.left-image {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .2);
  border-radius: .2rem;
  display: block;
  margin: 20px 20px 20px 0; /* Adicione margem à direita para manter a imagem à esquerda */
  vertical-align: middle; /* Alinha verticalmente com outras imagens */
}

/* Estilos para imagens com a classe ".center-image" */
img.center-image {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .2);
  border-radius: .2rem;
  display: block;
  margin: 20px auto; /* Centraliza a imagem horizontalmente */
  vertical-align: middle; /* Alinha verticalmente com outras imagens */
}

/* Estilos para imagens com a classe ".right-image" */
img.right-image {
  float: right; /* Alinha a imagem à direita */
  margin-left: 20px; /* Adicione uma margem à esquerda para espaçamento */
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .2); /* Adiciona sombra */
  border-radius: .2rem; /* Adiciona bordas arredondadas */
  vertical-align: middle; /* Alinha verticalmente com outras imagens */
}

/* Limpar floats após imagens */
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* Adicione a propriedade clear ao estilo do subtítulo (por exemplo, h2) */
h2 {
  clear: both;
}

/* Advertências clássicas */
.md-typeset .admonition,
.md-typeset details {
  border-width: 0;
  border-left-width: 4px;
}

/* CSS específico para o efeito de círculo */
#circle-effect {
  position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 50%;
  text-align: left; /* Alinha o conteúdo à esquerda */
}

#circle-effect img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  clip-path: url(#mask);
}

#circle-effect .mask {
  position: absolute;
  top: 0;
  left: 12%; /* Move a máscara para a esquerda em 12% */
  width: 76%; /* Ajusta o tamanho da máscara para cobrir a imagem */
  height: 76%; /* Ajusta o tamanho da máscara para cobrir a imagem */
  background-image: url('../images/lupa.png');
  background-size: cover;
  z-index: 1; /* Ajuste o z-index conforme necessário */
}

/* CSS específico para alinhar todo conteúdo à esquerda */
body {
  text-align: left;
}










